{
    :meta {
        :shortname "sec"
    }
    :objects (
        {
            :name {
            }
            :driver "map-object"
            :data {
                :myObject "second"
            }
        }
    )
}