{:functions [{:allowed-roles ["admin"],
              :args [["num" :int]],
              :function-name "nPrimes2",
              :name "primes",
              :path "clojureFunction.clj",
              :type :clojure}],
 :meta {:admin {:name "myAdmin", :password "admin"}, :author "Michal Wilk"},
 :objects [{:fields [{:constraints [:not-null], :name "name", :type :str32}
                     {:name "note", :type :text}],
            :name "Person",
            :options [:uuid-identifier]}
           {:fields [{:name "content", :type :text}],
            :name "Post",
            :options [:uuid-identifier],
            :relations [{:name "author",
                         :ref-type :o2m,
                         :references "Person",
                         :related-name "posts"}]}],
 :persistent-db {:dbname "mydatabase", :dbtype "h2"},
 :serializers
   [{:allowed-roles ["admin"],
     :name "public",
     :operations
       [{:create {:attached [["note" "Testowa notatka"]], :fields ["name"]},
         :delete true,
         :model "Person",
         :read {:fields ["name" "note" "id"], :filter [:= "author" :user-id]},
         :update {:fields ["name"]}}]}]}
