{:functions [{:allowed-roles ["admin"],
              :arg-source :query,
              :args [["num" :int]],
              :function-name "nPrimes2",
              :method :get,
              :name "getPrimes",
              :path "functions/clojureFunction.clj"}],
 :meta {:admin {:name "myAdmin", :password "admin"}, :author "Michal Wilk"},
 :objects [{:fields [{:constraints [:not-null], :name "name", :type :str32}
                     {:name "note", :type :text}],
            :name "Writer",
            }
           {:fields [{:name "content", :type :text}],
            :name "Post",
            :relations [{:name "author",
                         :references "Writer",
                         :rel-type :o2m,
                         :related-name-inside "author",
                         :related-name-outside "posts"}]}],
 :persistent-db {:dbname "mydatabase", :dbtype "h2"},
 :serializers
   [{:allowed-roles ["admin"],
     :name "public",
     :operations [{:create
                     {:attached [["note" "Testowa notatka"]], :fields ["name"]},
                   :delete true,
                   :model "Writer",
                   :read { :additional-query "sorta(\"name\")",
                          :fields ["name" "note" "id"]
                          :model-fields ["posts"]},
                   :update {:fields ["name"]}}
                   {:model "Post"
                    :create {:fields ["author" "content" ]}
                    :read {:fields ["author" "content" "id"]}
                    :update true
                    :delete true
                    }
                  ]}]}
