{:interceptors {
                :all [:json]
                :delete [:send-mail]
                :custom [:test-intercep :another]},
 :meta {:author "Michał Wilk", :shortname "hello", :version nil},
 :objects [ {:default-data {:hello "world"},
            :url-name "hello-world"
            :join-with []}
           {:url-name "videos" :name "FILMY" :additional-interceptors [:custom]} ]}
